<h1><%= @doctor.full_name%>'s Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor), class: "btn" %>
<hr>
<ol>
  <% @doctor.appointments.each do |appointment| %>
    <li>
      <%= appointment.appointment_date%> at 
      <%= appointment.appointment_time%>
      <%= link_to 'More Info', doctor_appointment_path(@doctor, appointment), class: "btn" %>
    </li>
  <% end %>
</ol>



