<h1><%= @doctor.full_name%>'s Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor), class: "btn" %>
<hr>
<ol>
  <% @appointment.patients.each do |patient| %>
    <li>
      <%= patient.full_name%>
      <%= patient.appointment_date%> at 
      <%= patient.appointment_time%>
      <%= link_to 'More Info', doctor_appointment_path(@doctor, appointment), class: "btn" %>
    </li>
  <% end %>
</ol>